<navigation></navigation>

<div class="container download-section">
    <page-header content="vm.pageHeader"></page-header>
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p>Estimated Credibility:&nbsp;
                        <span class="credibility" credibility-stars credibility="vm.data.landing.credibility"></span>
                    </p>
                    <p>{{ vm.data.landing.location }}</p>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Rumors</h2>
                        </div>
                        <div class="panel-body">
                         <span class="label label-warning" ng-repeat="rumor in vm.data.landing.rumors">
                             <span class="glyphicon glyphicon-ok"></span>
                            {{ rumor }}
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 landing-map">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Landing map</h2>
                        </div>
                        <div class="panel-body">
                            <img src="http://maps.googleapis.com/maps/api/staticmap?
                                 center={{ vm.data.landing.coords[1] }},{{ vm.data.landing.coords[0] }}&
                                 amp;zoom=17&amp;size=300x250&amp;sensor=false&amp;markers=
                                 {{ vm.data.landing.coords[1] }},{{ vm.data.landing.coords[0] }}
                                 &amp;scale=2" class="img-responsive img-rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary quote-panel">
                <div class="panel-heading">
                    <a ng-click="vm.popupQuoteForm()" class="btn btn-default pull-right">Add quote</a>
                    <h2 class="panel-title quote">Witness quotes</h2>
                </div>
                <div class="panel-body quote-container">
                    <div class="quote" ng-repeat="quote in vm.data.landing.quotes | orderBy:'takenAt':true">
                        <div class="row">
                            <div class="well well-sm quote-header">
                                <span class="quoteAuthor black">{{quote.author}}</span>
                                <small class="quoteTakenAt black">{{quote.takenAt | date: 'd MMMM yyyy'}}</small>
                            </div>
                            <div class="col-xs-12">
                                <p class="quote-body" ng-bind-html="quote.quoteText | addHtmlLineBreaks"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-9">
        <p class="lead">{{ vm.data.landing.name }} is on Alien Landings because witness
            accounts make it at least remotely possible that extraterrestial life may
            have interacted with the earth around this location.
        </p>
        <p>Please add your own eyewitness account under Quotes, or rate the landing's
            credibility between 1 and 5</p>
    </div>
    <footer-generic></footer-generic>
</div>