body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.black{
  color: black;
}

.rumor{
  padding:3px;
  margin: 2px;
}

.framed{
  margin: 3px;
}

.quote{
  padding-bottom: 10px;
}

.quote-body{
  color: black;
  margin-bottom: 10px;
}

.strapline{
  color: rgb(237, 245, 247);
}

.sidebar{
  margin-top: 20px;
}

.download-section {
  padding: 100px;
}

h4{
  margin: 0 0 20px;
}

p{
  margin: 0 0 10px;
}

.panel-body.quote-container {padding-top: 0;}
.quote-header {margin-bottom: 10px;}

.modal-header{
  background-color: #5bc0de;
}

.rumors-panel {
  padding: 10px;
  height: 50px;
}



#filter{margin-left: 4px;}