extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p
                |Alien Landings was created to track where aliens have landed around the world, listing
                |a landing report, a map of the location
                |and images from the landing site.
  