include _includes/sharedHTMLfunctions

extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader.title
                small &nbsp;#{pageHeader.strapline}
    .row
        .col-xs-12.col-sm-8(ng-controller="landingListCtrl")
            label(for="filter") Filter results
            input#filter(type="text", name="filter", ng-model="textFilter")
            .error {{message}}
            .row.list-group
                .col-xs-12.list-group-item(ng-repeat="landing in data.landings | filter:textFilter")
                    h4
                        a(href="/landing/{{landing._id}}") {{landing.name}}
                        small(credibility-stars, credibility="landing.credibility")
                        span.badge.pull-right.badge-default {{landing.distance | formatDistance}}

                    h5
                       small Discovered &nbsp;
                       time(style="color:black;") {{landing.discoveredAt}} &nbsp;
                       span(style="color:black;") at &nbsp;
                        span.small.location(style="color:black;") {{landing.location}}
                    p
                        span.label.label-warning(ng-repeat="rumor in landing.rumors") | {{rumor}} &nbsp;


