extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Roswell
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p.credibility
                        span Credibility &nbsp;
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star-empty
                        span.glyphicon.glyphicon-star-empty
                    span.location Roswell, New Mexico, USA &nbsp;
                    span on &nbsp;
                    span.discovered November 26, 1947
                    br
                    br
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Witness Report
                        .panel-body
                            p.small.black
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Sed viverra cursus arcu, ut sollicitudin eros. Duis eu iaculis purus. Maecenas varius,
                                | metus sed gravida egestas, odio odio pretium augue, et eleifend tortor sem et enim.
                                | Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut felis augue, tincidunt
                                | sed dictum sit amet, pharetra vitae nibh. Quisque eleifend sodales quam quis gravida.
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Rumored Aspects
                        .panel-body
                            span.label-warning.rumor Alien Tech
                            span.label-danger.rumor Probing
                            span.label-warning.rumor Military Operation
                            span.label-info.rumor Cover Up?
                .col-xs-12.col-sm-6
                    img.img-responsive.img-rounded.framed(src='http://maps.googleapis.com/maps/api/staticmap?center=33.3941667,-104.5225&zoom=17&size=400x250&sensor=false&markers=33.3941667,--104.5225&scale=2')
                    img.framed(src="/images/roswell.jpg")
            .row
                .col-xs-12
                    .panel.panel-primary.quote-panel
                        .panel-heading
                            a.btn.btn-default.pull-right(href='/landing/quote/new') Add Quote
                            h2.panel-title Quotes
                        .panel-body.quote-container
                            .row
                                .quote
                                    .well.well-sm.quote-header
                                            blockquote
                                                .col-xs-8
                                                    i.black It was a close encounter of the 5th kind!

                                                .col-xs-4
                                                    span.black Lauren Robinson
                            .row
                                .quote
                                    .well.well-sm.quote-header
                                        blockquote
                                            .col-xs-8
                                                i.black Looked a bit like Gollum, I reckon

                                            .col-xs-4
                                                span.black Steve Simpson
                            .row
                                .quote
                                    .well.well-sm.quote-header
                                        blockquote
                                            .col-xs-8
                                                i.black The truth is in there

                                            .col-xs-4
                                                span.black Dana Scully
