doctype html
html(ng-app='alienLandingsApp')
  head
    meta(name='viewport', content='width=device.width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/grayscale.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  .intro
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Alien Landings
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About
    .container
      div(ng-view)
        block content
        footer
          .row
            .col-xs-12
              small &copy; Craig Fox 2016
              br
              small Images courtesy of dan at &nbsp;
              a(href="FreeDigitalPhotos.net") FreeDigitalPhotos.net
          .row
            .col-xs-12
              i.small Disclaimer: The site author does not really believe in alien visitations, and only uses tinfoil for culinary purposes
    script(src='/angular/angular.min.js')
    script(src='/lib/angular-route.min.js')
    script(src='/angular/alienLandings.min.js')
    //script(src='/app.js')
    //script(src='/home/home.controller.js')
    //script(src='/common/services/alienLandingsData.service.js')
    //script(src='/common/services/geolocation.service.js')
    //script(src='/common/filters/formatDistance.filter.js')
    //script(src='/common/directives/credibilityStars/credibilityStars.directive.js')
    script(src='/bootstrap/js/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/validation.js')