<navigation></navigation>

<div class="container download-section text-center">
    <page-header content="vm.pageHeader"></page-header>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="error">{{ vm.message }}</div>
            <div class="col-xs-12 list-group-item"
                 ng-repeat="landing in vm.data.landings">
                <h4>
                    <a href="/#/landing/{{ landing._id }}">{{ landing.name }}</a>
                    <small class="credibility-stars" credibility-stars
                           credibility="landing.credibility"></small>
                    <span class="badge pull-right badge-default">
                        {{ landing.distance | formatDistance }}
                    </span>
                </h4>
                <p class="black">{{ landing.location }}</p>
                <p>
                    <span class="label label-warning label-rumor"
                          ng-repeat="rumor in landing.rumors">
                        {{ rumor }}
                    </span>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <p class="lead">{{ vm.sidebar.content }}</p>
        </div>
    </div>
    <footer-generic></footer-generic>

</div>